
.cybong-icon {
    width: 200px;
    height: auto;
}
.body {
    background-color: #222225;
    font-family: "poppins",sans-serif;
}
.profile-image {
    width: 30px;
}
.profile_button {
    width: 0%;
}
.search-icon {
    width: 20px;
    left: 15px;
    top: 10px;
}
.padding-60 {
    padding: 48px;
    background-color: #27292a;
}
.main-background-image {
    background-image: url('../../image/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 400px;
    border-radius: 20px;
    margin-bottom: 60px;
    height: 400px;
    width: 100%;
}
.main-div {
    width: 100%;
    height: 400px;
}

.bg-color {
    background-color: #1f2122;
}
.bg-ligh-color {
    background-color: #27292a;
}


.display-inline-block {
    display: inline-block;
}

.star-icon {
    width: 20px;
    height: 20px;
}
.button-bg {
    background-color:  #ec6090;
}

.text-pink {
    color: #ec6090;
} 
.header-text-color {
    color: #da5e8d;
}

.profile:hover {
    background-color: #da5e8d;
    color: #fff;
}
.button:hover {
    background-color: #fff;
}
.text:hover {
    color: #da5e8d;
}
.button-border-color {
    border-color: #da5e8d;
    color: #da5e8d;
}
.bg-image {
    font-weight: 600;
}
.bg-hedding {
        font-size: 40px;
        font-weight:800;
        line-height: 60px;
}

.float-clear {
    clear: both;
}

.section-3-image-width {
    width: 100px;
}

.hedding {
    font-size: 10px;
    font-family: "poppins",sans-serif;
    font-weight: 700;
    line-height: 30px;
}
@media screen and (min-width:999px) {
    .hedding {
        font-family: "poppins",sans-serif;
        font-weight: 800;
        font-size: 38px;
        line-height: 41px;
    }
}

@media screen and (min-width:999px) {
    .h1-font-size {
        font-family: "poppins",sans-serif;
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
    }
}
.copyright-text{
    font-size: 11px;
}

@media screen and (min-width: 999px) {
    .copyright-text{
        font-size: 16px;
    }
}
.sub-hedding {
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}
@media screen and (min-width: 999px) {
    .button-margin {
        margin-bottom: -200px;
    }
}